@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .button-primary {
    @apply bg-transparent rounded-md px-6 py-2.5 text-red-300 border-red-300 border-2 shadow focus:outline-none hover:bg-red-200 hover:bg-opacity-25 focus:ring-1 focus:ring-red-300;
  }
}

/* */

body {
  margin: 0;
  font-family: "Helvetica Neue", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
